:host {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}

.todo-item {
  position: relative;

  .todo {
    padding: 10px;
    height: 40px;
    user-select: none;

    .todo-checkbox {

      + label {
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 50px;
        font-size: 25px;
        cursor: pointer;

        &:not(.is-checked) {
          color: #4d4d4d;
        }
      }

      &:checked + label {
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');

        &.is-checked {
          text-decoration: line-through;
        }
      }
    }
  }

  .action-buttons {
    padding: 10px;

    .icon-wrapper {
      font-size: 25px;
      cursor: pointer;
      transition: 250ms all ease-in-out;
      padding: 0 5px;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      &:hover {
        transform: scale(1.25);
      }
    }
  }

  .edit-form {
    content: '';
    position: absolute;
    width: calc(100% - 55px);
    height: 100%;
    top: 0;
    right: 0;

    input {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      border: 1px solid #999;
      box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      font-size: 25px;
      outline: none;
      color: #4d4d4d;
    }
  }
}
