<div class="wrapper d-flex flex-column align-items-center">
  <h1 class="title mb-4">todos</h1>
  <section class="row justify-content-center w-100">
    <div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
      <app-header></app-header>
      <app-todo-list></app-todo-list>
      <app-footer></app-footer>
    </div>
  </section>
  <footer id="footer" class="text-decoration-none mt-4">
    <p>
      <span>Copyright </span>
      <a href="http://todomvc.com/examples/react/#/">TodosMVC</a>
    </p>
  </footer>
</div>
